@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* body{
    text-align: center;
} */

.container {
  max-width: 1250px;
  margin: auto;
}

ul li {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}
a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  size: 16px;
  line-height: 24px;
  letter-spacing: 0;
}

.hero p {
  font-family: "Roboto";
}
.hero h1 h2 {
  font-family: "Roboto", sans-serif;
}
/* .hero-1 {
  background-image: url("../img/man-wearing-t-shirt-gesturing.png");
  background-position: bottom center;
  background-repeat: no-repeat;
} */
.hero-1 {
  background-repeat: no-repeat;
}

.feature {
  box-shadow: 1px 5px 50px 0px rgba(84, 99, 122, 0.1);
}
